/* -------------------------------------------------------------------------- */
/*                               Fonts : Poppins                              */
/* -------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

/* -------------------------------------------------------------------------- */
/*                               Default Styles                               */
/* -------------------------------------------------------------------------- */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* -------------------------------------------------------------------------- */
/*                               Personal Styles                              */
/* -------------------------------------------------------------------------- */

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

/* -------------------------------------------------------------------------- */
/*                                    Notes                                   */
/* -------------------------------------------------------------------------- */

.notes-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new {
  background: linear-gradient(
    to right bottom,
    #28ffea,
    #41f5e3,
    #51ebdb,
    #5de1d4,
    #67d7cc
  );
}

textarea {
  border: none;
  resize: none;
  background: transparent;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.note {
  background: linear-gradient(
    to right bottom,
    #fef68a,
    #fded71,
    #fde356,
    #fed837,
    #ffcd00
  );
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  transition: 0.3s;
}

.note:hover{
  box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.1);
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon{
     font-size: 20px;
     cursor: pointer;
     transition: 0.2s;
}

.delete-icon:hover{
     color: red;
     transform: scale(1.5);
}

/* -------------------------------------------------------------------------- */
/*                                   Search                                   */
/* -------------------------------------------------------------------------- */

.search{
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1.5em;
}

.search input{
  width: 100%;
  border: none;
  background: transparent;
}

.search input:focus{
  outline: none;
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode{
  background-color: #131a26;
}


.dark-mode h1{
  color: white;
}
