/* -------------------------------------------------------------------------- */
/*                               Fonts : Poppins                              */
/* -------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

/* -------------------------------------------------------------------------- */
/*                               Default Styles                               */
/* -------------------------------------------------------------------------- */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1200' preserveAspectRatio='none' viewBox='0 0 1440 1200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1440' height='1200' x='0' y='0' fill='rgba(213%2c 228%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M571.1679714260724 440.731183079898L388.75929773095214 493.0360285843578 441.06414323541196 675.4447022794781 623.4728169305322 623.1398567750183z' fill='rgba(70%2c 150%2c 237%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M24.309737822887755-39.952948621052336L95.37359833240201 178.75912495719817 314.08567191065254 107.69526444768391 243.02181140113828-111.0168091305666z' fill='rgba(70%2c 150%2c 237%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1558.162943788715 529.511547148527L1410.934628523632 263.90463548216087 1145.3277168572658 411.13295074724374 1292.5560321223488 676.7398624136099z' fill='rgba(70%2c 150%2c 237%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1239.7067324044979 425.6857191565382L963.878826606523 425.6857191565382 963.878826606523 701.513624954513 1239.7067324044979 701.513624954513z' fill='rgba(70%2c 150%2c 237%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M366.5069180450938 809.2137418786807L196.106645908324 685.4106973876305 72.30360141727385 855.8109695244003 242.70387355404364 979.6140140154505z' fill='rgba(70%2c 150%2c 237%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M893.3876091919988 895.5026885597838L747.7014288867774 609.5774605858388 461.77620091283245 755.2636408910602 607.4623812180538 1041.1888688650051z' fill='rgba(70%2c 150%2c 237%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1040.367%2c1239.097C1144.399%2c1248.281%2c1247.817%2c1193.633%2c1298.806%2c1102.489C1348.769%2c1013.181%2c1335.024%2c900.902%2c1276.55%2c816.919C1225.266%2c743.262%2c1130.085%2c733.769%2c1040.367%2c731.308C944.104%2c728.667%2c828.473%2c719.747%2c780.619%2c803.314C732.891%2c886.661%2c801.303%2c980.411%2c850.478%2c1062.912C897.86%2c1142.406%2c948.182%2c1230.959%2c1040.367%2c1239.097' fill='rgba(70%2c 150%2c 237%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M34.413%2c906.528C87.854%2c905.972%2c138.948%2c878.499%2c163.578%2c831.069C186.622%2c786.691%2c173.676%2c733.688%2c145.68%2c692.256C121.085%2c655.857%2c78.327%2c641.101%2c34.413%2c639.916C-12.217%2c638.658%2c-61.258%2c647.573%2c-87.766%2c685.956C-117.877%2c729.556%2c-125.163%2c787.453%2c-99.488%2c833.804C-73.11%2c881.425%2c-20.023%2c907.094%2c34.413%2c906.528' fill='rgba(70%2c 150%2c 237%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='1200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* -------------------------------------------------------------------------- */
/*                               Personal Styles                              */
/* -------------------------------------------------------------------------- */

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* -------------------------------------------------------------------------- */
/*                                    Notes                                   */
/* -------------------------------------------------------------------------- */

.notes-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new {
  background: linear-gradient(
    to right bottom,
    #28ffea,
    #41f5e3,
    #51ebdb,
    #5de1d4,
    #67d7cc
  );
}

textarea {
  border: none;
  resize: none;
  background: transparent;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.note {
  background: linear-gradient(
    to right bottom,
    #fef68a,
    #fded71,
    #fde356,
    #fed837,
    #ffcd00
  );
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  transition: 0.3s;
}

.note:hover{
  box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.1);
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon{
     font-size: 20px;
     cursor: pointer;
     transition: 0.2s;
}

.delete-icon:hover{
     color: red;
     transform: scale(1.5);
}

/* -------------------------------------------------------------------------- */
/*                                   Search                                   */
/* -------------------------------------------------------------------------- */

.search{
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1.5em;
}

.search input{
  width: 100%;
  border: none;
  background: transparent;
}

.search input:focus{
  outline: none;
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1200' preserveAspectRatio='none' viewBox='0 0 1440 1200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3crect width='1440' height='1200' x='0' y='0' fill='rgba(19%2c 26%2c 38%2c 1)'%3e%3c/rect%3e%3cpath d='M513.5137610689151 990.3342988664709L342.8876387903666 987.3560088236488 423.7332648654078 1244.7843372628824z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M449.075%2c1282.859C497.176%2c1282.375%2c524.632%2c1231.831%2c544.772%2c1188.147C561.175%2c1152.569%2c560.996%2c1113.448%2c543.294%2c1078.499C523.416%2c1039.253%2c493.063%2c999.884%2c449.075%2c999.215C404.327%2c998.535%2c370.381%2c1035.838%2c349.762%2c1075.558C330.907%2c1111.881%2c332.301%2c1153.2%2c349.983%2c1190.108C370.934%2c1233.839%2c400.586%2c1283.347%2c449.075%2c1282.859' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M672.476%2c325.687C763.613%2c329.408%2c855.259%2c293.068%2c902.589%2c215.096C951.572%2c134.402%2c949.853%2c31.038%2c899.986%2c-49.113C852.644%2c-125.207%2c762.095%2c-155.042%2c672.476%2c-154.766C583.427%2c-154.492%2c491.295%2c-125.186%2c447.381%2c-47.718C403.939%2c28.917%2c427.282%2c122.101%2c472.761%2c197.545C516.528%2c270.149%2c587.772%2c322.228%2c672.476%2c325.687' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M253.12473321969975 181.74303866652633L106.5028829574266 49.724131707943286-25.51602400115644 196.34598197021643 121.1058262611167 328.3648889287995z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M946.5336755257258 411.7780348897487L1226.4703386510564 622.7254411601028 1437.4177449214103 342.78877803477235 1157.48108179608 131.84137176441823z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M960.139%2c1391.852C1031.869%2c1389.706%2c1088.742%2c1337.935%2c1123.711%2c1275.27C1157.66%2c1214.432%2c1169.727%2c1140.261%2c1133.868%2c1080.529C1098.87%2c1022.23%2c1028.088%2c1005.355%2c960.139%2c1002.8C885.899%2c1000.009%2c802.329%2c1004.029%2c762.209%2c1066.557C719.83%2c1132.605%2c737.9%2c1218.551%2c778.691%2c1285.591C817.74%2c1349.768%2c885.05%2c1394.098%2c960.139%2c1391.852' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M434.0162436472641 580.6724734526003L214.4506305462827 851.8134247438776 485.59158183755994 1071.3790378448589 705.1571949385414 800.2380865535818z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1321.7462616007697 621.6992337919L1250.3998966499666 828.904122964651 1457.6047858227178 900.250487915454 1528.9511507735208 693.045598742703z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='1440' height='1200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  height: 100vh;
}

.dark-mode h1{
  color: white;
}
